body{
    overflow: hidden;
}

.container-registros{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .container-registros hr{
    display: flex;
    width: fit-content;
    height: fit-content;
} */
.registrar-pedidos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 250px;
    background-color: rgba(54, 51, 59, 0.438);
    border-radius: .5rcap;
    color: aliceblue;
    font-size: 13px;
}
.caixas{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form .caixas button{
    height: 30px;
    width: 40%;
    background-color: aliceblue;
    border-radius: 0;
    color: green;
}
form .caixas button:hover{
    color: aliceblue;
}
.registrar-pedidos input{
    width: 40%;
    height: 40px;
    border: 0 ;
    border-bottom: solid 2px#62B78D;
    background-color: transparent;
    outline: 0;
}
.registrar-pedidos input[type="text"]{
    color: aliceblue;
}
.registrar-pedidos input::placeholder{
    color: rgb(179, 179, 179);
}

