<!DOCTYPE html>
<html lang="pt-br" xmlns:th="hhtps://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locadora de Carros</title>
    <link rel="stylesheet" th:href="@{/fragmentosCss/header.css}">
    <link rel="stylesheet" th:href="@{index.css}">
</head>

<body>


    <div th:insert="~{fragmentos/header :: header}"></div>

    <footer>
        <p>&copy; 2024 Locadora de Carros. Todos os direitos reservados.</p>
    </footer>
</body>

</html>